.chat-window{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat-window-header{
  height: 60px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-window-header-info{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.chat-window-header-info-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;  
}
.chat-window-header-name{
  font-size: 17px;
  color: #000;
}
.chat-window-header-buttons{
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.chat-window-header-btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: all ease 0.3s;
}
.chat-window-body{
  flex: 1;
  overflow-y: auto;
  background-color: #e5ddd5;
  background-size: contain;
  background-position: center;
  background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
}
.chat-window-footer{  
  height: 62px;
  display: flex;
  align-items: center;
}
.chat-window-footer-pre{
  display: flex;
  margin: 0 15px;
}
.chat-window-footer-input{
  flex: 1;
}
.chat-window-footer-input-input{
  width: 100%;
  height: 40px;
  border: 0;
  outline: 0;
  background-color: #fff;
  border-radius: 20px;
  font-size: 15px;
  color: #4a4a4a;
  padding-left: 15px;
}
.chat-window-footer-pos{
  display: flex;
  margin: 0 15px;
}
.chat-window-emoji-area{
  height: 200px;
  overflow-y: hidden;
  transition: all ease 0.3s;
}
aside.emoji-picker-react{
  width: auto;
  background: none;
}
.emoji-picker-react .emoji-group:before{
  background: none;
}
